# Content Mentor Quick Workspace internal files
.content-mentor/
.documentor/
.docuMentor/
.content-mentor-session.json
.documentor-session.json
.docuMentor-session.json
.documenor-session.json
.content-mentor-open-file.json
*.code-workspace
